<a href="https://colab.research.google.com/github/antoniogss/air_quality/blob/main/db_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Notebook imports and packages

In [1]:
import pandas as pd
import numpy as np
import warnings as war
import google.colab as gc
import matplotlib.pyplot as plt

from google.colab import files #Upload files into the notebook
from glob import glob
from datetime import date, time, datetime, timedelta
from functools import reduce
from matplotlib import dates, rcParams

%matplotlib inline 
"""Will make your plot outputs appear 
and be stored within the notebook
"""
war.filterwarnings('ignore')

#Google Drive connection

In [2]:
gc.drive.mount('./gdrive/', 
               force_remount=True
              )
gc.output.clear()

#Downloading files

In [3]:
%cd ./gdrive/MyDrive/air_quality/datasets/
gc.output.clear()
%pwd

'/content/gdrive/MyDrive/air_quality/datasets'

In [12]:
# files.upload()
# gc.output.clear()

# %ls {a,b,c}*.csv
# !echo -e "\n"

# !echo "Number of lines | file"
# !wc -l *{12..21}.csv
# !echo -e "\n"

!echo "Number of uploaded files:" 
%ll *.csv | wc -l
!echo -e "\n"

!echo "Total number of lines in multiple files:"
!cat *.csv | wc -l

Number of uploaded files:
107


Total number of lines in multiple files:
938124

#Remove all headers

In [10]:
# !sed -i '1,7d' *.csv

#Concatenating files - 1

In [6]:
# %mkdir "./created_datasets/"

In [7]:
# !sed -i '1d' a_cp_20{13..21}.csv 
# !sed -i '1d' a_ib_20{13..21}.csv 
# !sed -i '1d' a_in_20{13..21}.csv 
# !sed -i '1d' a_pd_20{13..21}.csv 
# !sed -i '1d' b_cp_20{13..21}.csv 
# !sed -i '1d' b_ib_20{13..21}.csv 
# !sed -i '1d' b_in_20{13..21}.csv 
# !sed -i '1d' b_pd_20{13..21}.csv 
# !sed -i '1d' c_cp_20{13..21}.csv 
# !sed -i '1d' c_ib_20{13..21}.csv 
# !sed -i '1d' c_in_20{13..21}.csv 
# !sed -i '1d' c_pd_20{17..21}.csv 

# !cat a_cp_20{12..21}.csv > a_cp.csv | mv a_cp.csv ./created_datasets/
# !cat a_ib_20{12..21}.csv > a_ib.csv | mv a_ib.csv ./created_datasets/
# !cat a_in_20{12..21}.csv > a_in.csv | mv a_in.csv ./created_datasets/
# !cat a_pd_20{12..21}.csv > a_pd.csv | mv a_pd.csv ./created_datasets/

# !cat b_cp_20{12..21}.csv > b_cp.csv | mv b_cp.csv ./created_datasets/
# !cat b_ib_20{12..21}.csv > b_ib.csv | mv b_ib.csv ./created_datasets/
# !cat b_in_20{12..21}.csv > b_in.csv | mv b_in.csv ./created_datasets/
# !cat b_pd_20{12..21}.csv > b_pd.csv | mv b_pd.csv ./created_datasets/

# !cat c_cp_20{12..21}.csv > c_cp.csv | mv c_cp.csv ./created_datasets/
# !cat c_ib_20{12..21}.csv > c_ib.csv | mv c_ib.csv ./created_datasets/
# !cat c_in_20{12..21}.csv > c_in.csv | mv c_in.csv ./created_datasets/
# !cat c_pd_20{16..21}.csv > c_pd.csv | mv c_pd.csv ./created_datasets/

# gc.output.clear()

In [26]:
%cd ./created_datasets/
gc.output.clear()
%pwd

'/content/gdrive/MyDrive/air_quality/datasets/created_datasets'

In [27]:
!echo "Number of files:" 
%ll *.csv | wc -l
!echo -e "\n"

!echo "Total number of lines in multiple files:"
!cat *.csv | wc -l

Number of files:
12


Total number of lines in multiple files:
938124

#Adding the column 'estacao'

In [38]:
# assign dataset names
list_of_names = ['a_cp','b_cp','c_cp', #[0-1-2]:0
                 'a_ib','b_ib','c_ib', #[3-4-5]:1
                 'a_in','b_in','c_in', #[6-7-8]:2
                 'a_pd','b_pd','c_pd'] #[9-10-11]:3

# create empty list
df = []
  
# append datasets into teh list
for i in range(len(list_of_names)):
    temp_df = pd.read_csv("./"+list_of_names[i]+".csv",
                          sep = ';', 
                          index_col = None, 
                          header = 0,
                          error_bad_lines = False,
                          encoding='latin-1'
                        )
    df.append(temp_df)

In [54]:
estacao = ["Capão Redondo", "Ibirapuera", "Interlagos", "Parque Dom Pedro II"]

df[0]['estacao'] = df[1]['estacao'] = df[2]['estacao'] = estacao[0]
df[3]['estacao'] = df[4]['estacao'] = df[5]['estacao'] = estacao[1]
df[6]['estacao'] = df[7]['estacao'] = df[8]['estacao'] = estacao[2]
df[9]['estacao'] = df[10]['estacao'] = df[11]['estacao'] = estacao[3]

In [63]:
df[11].head()

,Unnamed: 0,Unnamed: 1,TEMP(Temperatura do Ar) - °C,UR(Umidade Relativa do Ar) - %,VV(Velocidade do Vento) - m/s,estacao
0,01/01/2016,01:00,NaN,NaN,NaN,Parque Dom Pedro II
1,01/01/2016,02:00,NaN,NaN,NaN,Parque Dom Pedro II
2,01/01/2016,03:00,NaN,NaN,NaN,Parque Dom Pedro II
3,01/01/2016,04:00,NaN,NaN,NaN,Parque Dom Pedro II
4,01/01/2016,05:00,NaN,NaN,NaN,Parque Dom Pedro II

#Concatenating files - 2

In [69]:
df_a = pd.concat(
                  [df[0], df[3], df[6], df[9]], 
                  axis = 0, 
                  sort = False
                )

df_b = pd.concat(
                  [df[1], df[4], df[7], df[10]],
                  axis = 0, 
                  sort = False
                )

df_c = pd.concat(
                  [df[2], df[5], df[8], df[11]], 
                  axis = 0, 
                  sort = False
                )

In [73]:
df_a.head()

,Unnamed: 0,Unnamed: 1,O3(Ozônio) - µg/m3,RADG(Radiação Solar Global) - W/m2,RADUV(Radiação Ultra-violeta) - W/m2,estacao
0,01/01/2012,01:00,NaN,NaN,NaN,Capão Redondo
1,01/01/2012,02:00,NaN,NaN,NaN,Capão Redondo
2,01/01/2012,03:00,NaN,NaN,NaN,Capão Redondo
3,01/01/2012,04:00,NaN,NaN,NaN,Capão Redondo
4,01/01/2012,05:00,NaN,NaN,NaN,Capão Redondo

In [75]:
print('Columns: df_a ')
df_a.columns

Columns: df_a

Index(['Unnamed: 0', 'Unnamed: 1', 'O3(Ozônio) - µg/m3',
       'RADG(Radiação Solar Global) - W/m2',
       'RADUV(Radiação Ultra-violeta) - W/m2', 'estacao'],
      dtype='object')

In [76]:
print('Columns: df_b ')
df_b.columns

Columns: df_b

Index(['Unnamed: 0', 'Unnamed: 1', 'NO(Monóxido de Nitrogênio) - µg/m3',
       'NO2(Dióxido de Nitrogênio) - µg/m3', 'NOx(Óxidos de Nitrogênio) - ppb',
       'estacao'],
      dtype='object')

In [77]:
print('Columns: df_c ')
df_c.columns

Columns: df_c

Index(['Unnamed: 0', 'Unnamed: 1', 'TEMP(Temperatura do Ar) - °C',
       'UR(Umidade Relativa do Ar) - %', 'VV(Velocidade do Vento) - m/s',
       'estacao'],
      dtype='object')

In [81]:
df_ab = pd.merge(df_a, #only two dfs at time
                 df_b, 
                 on=['Unnamed: 0', 'Unnamed: 1', 'estacao'],
                 how = "outer"
                )

In [83]:
df = pd.merge(df_ab, 
              df_c, 
              on=['Unnamed: 0', 'Unnamed: 1', 'estacao'],
              how = "outer"
            )

In [84]:
df.head()

,Unnamed: 0,Unnamed: 1,O3(Ozônio) - µg/m3,RADG(Radiação Solar Global) - W/m2,RADUV(Radiação Ultra-violeta) - W/m2,estacao,NO(Monóxido de Nitrogênio) - µg/m3,NO2(Dióxido de Nitrogênio) - µg/m3,NOx(Óxidos de Nitrogênio) - ppb,TEMP(Temperatura do Ar) - °C,UR(Umidade Relativa do Ar) - %,VV(Velocidade do Vento) - m/s
0,01/01/2012,01:00,NaN,NaN,NaN,Capão Redondo,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2012,02:00,NaN,NaN,NaN,Capão Redondo,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2012,03:00,NaN,NaN,NaN,Capão Redondo,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2012,04:00,NaN,NaN,NaN,Capão Redondo,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2012,05:00,NaN,NaN,NaN,Capão Redondo,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# df.to_csv('./df.csv')

In [88]:
# !echo "Total number of lines:"
# !cat df.csv | wc -l