<a href="https://colab.research.google.com/github/antoniogss/air_quality/blob/main/db_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Notebook imports and packages

In [41]:
import pandas as pd
import numpy as np
import warnings as war
import google.colab as gc
import matplotlib.pyplot as plt

from google.colab import files #Upload files into the notebook
from glob import glob
from datetime import date, time, datetime, timedelta
from functools import reduce
from matplotlib import dates, rcParams

war.filterwarnings('ignore')

#Google Drive connection

In [2]:
gc.drive.mount('./gdrive/', 
               force_remount=True
              )
gc.output.clear()

#Downloading files

In [3]:
%cd ./gdrive/MyDrive/air_quality/datasets/

/content/gdrive/MyDrive/air_quality/datasets

In [4]:
# files.upload()
# gc.output.clear()

# %ls {a,b,c}*.csv
# !echo -e "\n"

# !echo "Number of lines | file"
# !wc -l *{12..21}.csv
# !echo -e "\n"

!echo "Number of uploaded files:" 
%ll *.csv | wc -l
!echo -e "\n"

!echo "Total number of lines in multiple files:"
!cat *.csv | wc -l

Number of uploaded files:
107


Total number of lines in multiple files:
938124

In [5]:
# %mkdir "./created_datasets/"

#Removing headers

In [6]:
# !sed -i '1,7d' *.csv

# !sed -i '1d' a_cp_20{13..21}.csv 
# !sed -i '1d' a_ib_20{13..21}.csv 
# !sed -i '1d' a_in_20{13..21}.csv 
# !sed -i '1d' a_pd_20{13..21}.csv 
# !sed -i '1d' b_cp_20{13..21}.csv 
# !sed -i '1d' b_ib_20{13..21}.csv 
# !sed -i '1d' b_in_20{13..21}.csv 
# !sed -i '1d' b_pd_20{13..21}.csv 
# !sed -i '1d' c_cp_20{13..21}.csv 
# !sed -i '1d' c_ib_20{13..21}.csv 
# !sed -i '1d' c_in_20{13..21}.csv 
# !sed -i '1d' c_pd_20{17..21}.csv

#Concatenating files - 1

In [7]:
# !cat a_cp_20{12..21}.csv > a_cp.csv | mv a_cp.csv ./created_datasets/
# !cat a_ib_20{12..21}.csv > a_ib.csv | mv a_ib.csv ./created_datasets/
# !cat a_in_20{12..21}.csv > a_in.csv | mv a_in.csv ./created_datasets/
# !cat a_pd_20{12..21}.csv > a_pd.csv | mv a_pd.csv ./created_datasets/

# !cat b_cp_20{12..21}.csv > b_cp.csv | mv b_cp.csv ./created_datasets/
# !cat b_ib_20{12..21}.csv > b_ib.csv | mv b_ib.csv ./created_datasets/
# !cat b_in_20{12..21}.csv > b_in.csv | mv b_in.csv ./created_datasets/
# !cat b_pd_20{12..21}.csv > b_pd.csv | mv b_pd.csv ./created_datasets/

# !cat c_cp_20{12..21}.csv > c_cp.csv | mv c_cp.csv ./created_datasets/
# !cat c_ib_20{12..21}.csv > c_ib.csv | mv c_ib.csv ./created_datasets/
# !cat c_in_20{12..21}.csv > c_in.csv | mv c_in.csv ./created_datasets/
# !cat c_pd_20{16..21}.csv > c_pd.csv | mv c_pd.csv ./created_datasets/

# gc.output.clear()

In [8]:
%cd ./created_datasets/

/content/gdrive/MyDrive/air_quality/datasets/created_datasets

In [9]:
!echo "Number of files:" 
%ll *.csv | wc -l
!echo -e "\n"

!echo "Total number of lines in multiple files:"
!cat *.csv | wc -l

Number of files:
13


Total number of lines in multiple files:
1288813

#Adding the column 'estacao'

In [10]:
# assign dataset names
list_of_names = ['a_cp','b_cp','c_cp', #[0-1-2]:0
                 'a_ib','b_ib','c_ib', #[3-4-5]:1
                 'a_in','b_in','c_in', #[6-7-8]:2
                 'a_pd','b_pd','c_pd'] #[9-10-11]:3

# create empty list
df = []
  
# append datasets into teh list
for i in range(len(list_of_names)):
    temp_df = pd.read_csv("./"+list_of_names[i]+".csv",
                          sep = ';', 
                          index_col = None, 
                          header = 0,
                          error_bad_lines = False,
                          encoding='latin-1'
                        )
    df.append(temp_df)

In [11]:
estacao = ["Cap√£o Redondo", "Ibirapuera", "Interlagos", "Parque Dom Pedro II"]

df[0]['estacao'] = df[1]['estacao'] = df[2]['estacao'] = estacao[0]
df[3]['estacao'] = df[4]['estacao'] = df[5]['estacao'] = estacao[1]
df[6]['estacao'] = df[7]['estacao'] = df[8]['estacao'] = estacao[2]
df[9]['estacao'] = df[10]['estacao'] = df[11]['estacao'] = estacao[3]

In [12]:
df[11].head()

,Unnamed: 0,Unnamed: 1,TEMP(Temperatura do Ar) - ¬∞C,UR(Umidade Relativa do Ar) - %,VV(Velocidade do Vento) - m/s,estacao
0,01/01/2016,01:00,NaN,NaN,NaN,Parque Dom Pedro II
1,01/01/2016,02:00,NaN,NaN,NaN,Parque Dom Pedro II
2,01/01/2016,03:00,NaN,NaN,NaN,Parque Dom Pedro II
3,01/01/2016,04:00,NaN,NaN,NaN,Parque Dom Pedro II
4,01/01/2016,05:00,NaN,NaN,NaN,Parque Dom Pedro II

#Concatenating files - 2

In [13]:
df_a = pd.concat(
                  [df[0], df[3], df[6], df[9]], 
                  axis = 0, 
                  sort = False
                )

df_b = pd.concat(
                  [df[1], df[4], df[7], df[10]],
                  axis = 0, 
                  sort = False
                )

df_c = pd.concat(
                  [df[2], df[5], df[8], df[11]], 
                  axis = 0, 
                  sort = False
                )

In [14]:
df_a.head()

,Unnamed: 0,Unnamed: 1,O3(Oz√¥nio) - ¬µg/m3,RADG(Radia√ß√£o Solar Global) - W/m2,RADUV(Radia√ß√£o Ultra-violeta) - W/m2,estacao
0,01/01/2012,01:00,NaN,NaN,NaN,Cap√£o Redondo
1,01/01/2012,02:00,NaN,NaN,NaN,Cap√£o Redondo
2,01/01/2012,03:00,NaN,NaN,NaN,Cap√£o Redondo
3,01/01/2012,04:00,NaN,NaN,NaN,Cap√£o Redondo
4,01/01/2012,05:00,NaN,NaN,NaN,Cap√£o Redondo

In [15]:
print('Columns: df_a ')
df_a.columns

Columns: df_a

Index(['Unnamed: 0', 'Unnamed: 1', 'O3(Oz√¥nio) - ¬µg/m3',
       'RADG(Radia√ß√£o Solar Global) - W/m2',
       'RADUV(Radia√ß√£o Ultra-violeta) - W/m2', 'estacao'],
      dtype='object')

In [16]:
print('Columns: df_b ')
df_b.columns

Columns: df_b

Index(['Unnamed: 0', 'Unnamed: 1', 'NO(Mon√≥xido de Nitrog√™nio) - ¬µg/m3',
       'NO2(Di√≥xido de Nitrog√™nio) - ¬µg/m3', 'NOx(√ìxidos de Nitrog√™nio) - ppb',
       'estacao'],
      dtype='object')

In [17]:
print('Columns: df_c ')
df_c.columns

Columns: df_c

Index(['Unnamed: 0', 'Unnamed: 1', 'TEMP(Temperatura do Ar) - ¬∞C',
       'UR(Umidade Relativa do Ar) - %', 'VV(Velocidade do Vento) - m/s',
       'estacao'],
      dtype='object')

In [18]:
df_ab = pd.merge(df_a, #only two dfs at time
                 df_b, 
                 on=['Unnamed: 0', 'Unnamed: 1', 'estacao'],
                 how = "outer"
                )

In [19]:
df = pd.merge(df_ab, 
              df_c, 
              on=['Unnamed: 0', 'Unnamed: 1', 'estacao'],
              how = "outer"
            )

In [20]:
df.head()

,Unnamed: 0,Unnamed: 1,O3(Oz√¥nio) - ¬µg/m3,RADG(Radia√ß√£o Solar Global) - W/m2,RADUV(Radia√ß√£o Ultra-violeta) - W/m2,estacao,NO(Mon√≥xido de Nitrog√™nio) - ¬µg/m3,NO2(Di√≥xido de Nitrog√™nio) - ¬µg/m3,NOx(√ìxidos de Nitrog√™nio) - ppb,TEMP(Temperatura do Ar) - ¬∞C,UR(Umidade Relativa do Ar) - %,VV(Velocidade do Vento) - m/s
0,01/01/2012,01:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2012,02:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2012,03:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2012,04:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2012,05:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN

#Renaming columns

In [21]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'O3(Oz√¥nio) - ¬µg/m3',
       'RADG(Radia√ß√£o Solar Global) - W/m2',
       'RADUV(Radia√ß√£o Ultra-violeta) - W/m2', 'estacao',
       'NO(Mon√≥xido de Nitrog√™nio) - ¬µg/m3',
       'NO2(Di√≥xido de Nitrog√™nio) - ¬µg/m3', 'NOx(√ìxidos de Nitrog√™nio) - ppb',
       'TEMP(Temperatura do Ar) - ¬∞C', 'UR(Umidade Relativa do Ar) - %',
       'VV(Velocidade do Vento) - m/s'],
      dtype='object')

In [22]:
df.rename(
          columns = {
                      'Unnamed: 0':'data', 
                      'Unnamed: 1':'hora',
                      'O3(Oz√¥nio) - ¬µg/m3':'O3',
                      'RADG(Radia√ß√£o Solar Global) - W/m2':'RADG',
                      'RADUV(Radia√ß√£o Ultra-violeta) - W/m2':'RADUV',
                      'NO(Mon√≥xido de Nitrog√™nio) - ¬µg/m3':'NO',
                      'NO2(Di√≥xido de Nitrog√™nio) - ¬µg/m3':'NO2',
                      'NOx(√ìxidos de Nitrog√™nio) - ppb':'NOx',
                      'TEMP(Temperatura do Ar) - ¬∞C':'TEMP',
                      'UR(Umidade Relativa do Ar) - %':'UR',
                      'VV(Velocidade do Vento) - m/s':'VV'
                    },
          inplace = True
)

df.head()

,data,hora,O3,RADG,RADUV,estacao,NO,NO2,NOx,TEMP,UR,VV
0,01/01/2012,01:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2012,02:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2012,03:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2012,04:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2012,05:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN

#Changing commas to dot

In [23]:
df = df.replace({',' : '.'}, regex = True)

#Converting string to float

In [24]:
df.columns

Index(['data', 'hora', 'O3', 'RADG', 'RADUV', 'estacao', 'NO', 'NO2', 'NOx',
       'TEMP', 'UR', 'VV'],
      dtype='object')

In [25]:
df['O3'] = pd.to_numeric(df['O3'], downcast='float', errors='coerce')
df['RADG'] = pd.to_numeric(df['RADG'], downcast='float', errors='coerce')
df['RADUV'] = pd.to_numeric(df['RADUV'], downcast='float', errors='coerce')
df['NO'] = pd.to_numeric(df['NO'], downcast='float', errors='coerce')
df['NO2'] = pd.to_numeric(df['NO2'], downcast='float', errors='coerce')
df['NOx'] = pd.to_numeric(df['NOx'], downcast='float', errors='coerce')
df['TEMP'] = pd.to_numeric(df['TEMP'], downcast='float', errors='coerce')
df['UR'] = pd.to_numeric(df['UR'], downcast='float', errors='coerce')
df['VV'] = pd.to_numeric(df['VV'], downcast='float', errors='coerce')

In [26]:
df.describe()

,O3,RADG,RADUV,NO,NO2,NOx,TEMP,UR,VV
count,302992.000000,198822.000000,145844.000000,262976.000000,262969.000000,262972.000000,193291.000000,199640.000000,208013.000000
mean,39.136585,175.026871,7.590042,12.530136,32.164028,27.216532,20.226715,77.797890,2.160166
std,33.564491,266.966736,11.886054,30.508327,21.582369,32.402119,4.681233,18.386684,1.381273
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.300000,9.000000,0.000000
25%,14.000000,0.000000,0.000000,1.000000,17.000000,10.000000,16.900000,66.000000,1.200000
50%,32.000000,6.000000,1.000000,3.000000,27.000000,17.000000,19.900000,83.000000,1.900000
75%,53.000000,280.000000,12.000000,10.000000,42.000000,31.000000,23.000000,92.000000,3.000000
max,347.000000,1203.000000,70.000000,674.000000,213.000000,615.000000,37.400002,100.000000,11.100000

#Formatting dates and times

In [27]:
df['hora'].replace('24:00', '00:00', inplace = True)
gc.output.clear()

In [28]:
df['data_hora'] = df['data'] + ' ' + df['hora']
df.head()

,data,hora,O3,RADG,RADUV,estacao,NO,NO2,NOx,TEMP,UR,VV,data_hora
0,01/01/2012,01:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 01:00
1,01/01/2012,02:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 02:00
2,01/01/2012,03:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 03:00
3,01/01/2012,04:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 04:00
4,01/01/2012,05:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 05:00

In [29]:
df = df.drop(
              [
                'data', 
                'hora'
              ],
              axis = 1
)
df.head()

,O3,RADG,RADUV,estacao,NO,NO2,NOx,TEMP,UR,VV,data_hora
0,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 01:00
1,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 02:00
2,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 03:00
3,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 04:00
4,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,01/01/2012 05:00

In [30]:
df['data_hora'] = pd.to_datetime(df['data_hora'], format = '%d/%m/%Y %H:%M')
df.head()

,O3,RADG,RADUV,estacao,NO,NO2,NOx,TEMP,UR,VV,data_hora
0,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 01:00:00
1,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 02:00:00
2,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 03:00:00
3,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 04:00:00
4,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 05:00:00

In [31]:
df.dtypes

O3                  float32
RADG                float32
RADUV               float32
estacao              object
NO                  float32
NO2                 float32
NOx                 float32
TEMP                float32
UR                  float32
VV                  float32
data_hora    datetime64[ns]
dtype: object

#Adding the column  days of the week

In [32]:
dias_ptbr = {
              'Sunday':'Domingo', 
              'Monday':'Segunda-feira', 
              'Tuesday':'Ter√ßa-feira', 
              'Wednesday':'Quarta-feira', 
              'Thursday':'Quinta-feira', 
              'Friday':'Sexta-feira', 
              'Saturday':'S√°bado'
}

df['dia_da_semana'] = df['data_hora'].dt.day_name().replace(dias_ptbr)

df.head()

,O3,RADG,RADUV,estacao,NO,NO2,NOx,TEMP,UR,VV,data_hora,dia_da_semana
0,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 01:00:00,Domingo
1,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 02:00:00,Domingo
2,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 03:00:00,Domingo
3,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 04:00:00,Domingo
4,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-01 05:00:00,Domingo

#Index

In [33]:
#date as index
df.set_index('data_hora', inplace = True)
df.tail()

,O3,RADG,RADUV,estacao,NO,NO2,NOx,TEMP,UR,VV,dia_da_semana
data_hora,,,,,,,,,,,
2021-12-31 20:00:00,7.0,0.0,0.0,Parque Dom Pedro II,9.0,50.0,34.0,19.400000,94.0,0.0,Sexta-feira
2021-12-31 21:00:00,7.0,0.0,0.0,Parque Dom Pedro II,15.0,49.0,39.0,19.400000,94.0,0.0,Sexta-feira
2021-12-31 22:00:00,7.0,0.0,0.0,Parque Dom Pedro II,32.0,51.0,53.0,19.500000,95.0,0.9,Sexta-feira
2021-12-31 23:00:00,7.0,0.0,0.0,Parque Dom Pedro II,30.0,49.0,51.0,19.299999,95.0,0.0,Sexta-feira
2021-12-31 00:00:00,7.0,0.0,0.0,Parque Dom Pedro II,41.0,48.0,59.0,19.100000,95.0,0.0,Sexta-feira

In [40]:
df['2020'].head()

,O3,RADG,RADUV,estacao,NO,NO2,NOx,TEMP,UR,VV,dia_da_semana
data_hora,,,,,,,,,,,
2020-01-01 01:00:00,10.0,0.0,0.0,Cap√£o Redondo,NaN,NaN,NaN,22.1,92.0,0.0,Quarta-feira
2020-01-01 02:00:00,7.0,0.0,0.0,Cap√£o Redondo,NaN,NaN,NaN,22.1,89.0,0.9,Quarta-feira
2020-01-01 03:00:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,Quarta-feira
2020-01-01 04:00:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,Quarta-feira
2020-01-01 05:00:00,NaN,NaN,NaN,Cap√£o Redondo,NaN,NaN,NaN,NaN,NaN,NaN,Quarta-feira

#Download

In [35]:
df.to_csv('./df.csv')

In [38]:
!echo "Total number of lines: df.csv"
!cat df.csv | wc -l

Total number of lines: df.csv
350689